<h1>Welcome to Queen Attack!?</h1>
<div class="row">
  <div class="col-sm-6">
    <form action="/form" method="get">
      <div class="form-group">
        <p>Enter the positions of the Queen and your player to see if the Queen can attack you! Find the spots on the chart, enter using a comma between the numbers (1,1).</p>
        <label for="queen">Enter the position of the Queen:</label>
        <input id="queen" name="queen" class="form-control" type="text">
        <label for="player">Enter the position of the Player:</label>
        <input id="player" name="player" class="form-control" type="text">
      </div>
      <button type="submit" class="btn-success">Queen Attacks!</button>
    </form>
  </div>
  <div class="col-sm-6">
    <table>
      <tr>
        <td><span>1,1</span></td>
        <td class="black"><span>1,2</span></td>
        <td><span>1,3</span></td>
        <td class="black"><span>1,4</span></td>
        <td><span>1,5</span></td>
        <td class="black"><span>1,6</span></td>
        <td><span>1,7</span></td>
        <td class="black"><span>1,8</span></td>
      </tr>
      <tr>
        <td class="black"><span>2,1</span></td>
        <td><span>2,2</span></td>
        <td class="black"><span>2,3</span></td>
        <td><span>2,4</span></td>
        <td class="black"><span>2,5</span></td>
        <td><span>2,6</span></td>
        <td class="black"><span>2,7</span></td>
        <td><span>2,8</span></td>
      </tr>
      <tr>
        <td><span>3,1</span></td>
        <td class="black"><span>3,2</span></td>
        <td><span>3,3</span></td>
        <td class="black"><span>3,4</span></td>
        <td><span>3,5</span></td>
        <td class="black"><span>3,6</span></td>
        <td><span>3,7</span></td>
        <td class="black"><span>3,8</span></td>
      </tr>
      <tr>
        <td class="black"><span>4,1</span></td>
        <td><span>4,2</span></td>
        <td class="black"><span>4,3</span></td>
        <td><span>4,4</span></td>
        <td class="black"><span>4,5</span></td>
        <td><span>4,6</span></td>
        <td class="black"><span>4,7</span></td>
        <td><span>4,8</span></td>
      </tr>
      <tr>
        <td><span>5,1</span></td>
        <td class="black"><span>5,2</span></td>
        <td><span>5,3</span></td>
        <td class="black"><span>5,4</span></td>
        <td><span>5,5</span></td>
        <td class="black"><span>5,6</span></td>
        <td><span>5,7</span></td>
        <td class="black"><span>5,8</span></td>
      </tr>
      <tr>
        <td class="black"><span>6,1</span></td>
        <td><span>6,2</span></td>
        <td class="black"><span>6,3</span></td>
        <td><span>6,4</span></td>
        <td class="black"><span>6,5</span></td>
        <td><span>6,6</span></td>
        <td class="black"><span>6,7</span></td>
        <td><span>6,8</span></td>
      </tr>
      <tr>
        <td><span>7,1</span></td>
        <td class="black"><span>7,2</span></td>
        <td><span>7,3</span></td>
        <td class="black"><span>7,4</span></td>
        <td><span>7,5</span></td>
        <td class="black"><span>7,6</span></td>
        <td><span>7,7</span></td>
        <td class="black"><span>7,8</span></td>
      </tr>
      <tr>
        <td class="black"><span>8,1</span></td>
        <td><span>8,2</span></td>
        <td class="black"><span>8,3</span></td>
        <td><span>8,4</span></td>
        <td class="black"><span>8,5</span></td>
        <td><span>8,6</span></td>
        <td class="black"><span>8,7</span></td>
        <td><span>8,8</span></td>
      </tr>
    </table>
  </div>
</div>
<h2>Can the queen attack?</h2>
<h2> <%= @queen %></h2>
